@import "tailwindcss";
@source "index.html";
@source "Career.html";
@source "services.html";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}